<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ipawd's Poop 'N Scoop LLC</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="banner img-responsive"
             style="background-image: url('/images/Bordercollie.jpg');">
        </div>
    </div>
</div>

<nav id="sticker" class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img class="logo" src="/images/Vector_Edit.png" alt=""/></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a class="about-nav" href="about.html">About</a></li>
                <li><a href="staff.html">Staff</a></li>
                <li class="dropdown">
                    <a href="services.html" class="dropdown-toggle" data-toggle="dropdown" role="button">Services<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="dogs.html">Dog Services</a></li>
                        <li><a href="cats.html">Cat Services</a></li>
                        <li><a href="other.html">Other Pets</a></li>
                        <li><a href="additional.html">Additional Services</a></li>
                    </ul>
                </li>
                <li><a href="events.html">Events</a></li>
                <li><a href="calendar.html">Calendar</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://invoice.zoho.com/portal/ipawdspoopnscoopllc" target="_blank">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>DOGGY SERVICES</h1>
            <p>Our dog waste cleanup and removal service is our most popular service.  We come to your property, scour the property for any dog waste scoop it and bag it up then haul it away!  You don't even have to smell it!  We can clean private property, apartment complexes and parks in the Pocatello Idaho area.  </p>
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>1 Dogs</th>
                        <th>2 Dogs</th>
                        <th>3 Dogs</th>
                        <th>4 Dogs</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><b>Twice Weekly</b></td>
                        <td>$64.00/month</td>
                        <td>$96.00/month</td>
                        <td>$132.00/month</td>
                        <td>$168.00/month</td>
                    </tr>
                    <tr>
                        <td><b>Weekly</b></td>
                        <td>$40.00/month</td>
                        <td>$56.00/month</td>
                        <td>$74.00/month</td>
                        <td>$84.00/month</td>
                    </tr>
                    <tr>
                        <td><b>Twice Monthly</b></td>
                        <td>$32.00/month</td>
                        <td>$42.00/month</td>
                        <td>N.R. *</td>
                        <td>N.R. *</td>
                    </tr>
                    <tr>
                        <td><b>Monthly</b></td>
                        <td>$30.00/month</td>
                        <td>$35.00/month</td>
                        <td>N.R. *</td>
                        <td>N.R. *</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p>* Not Recommended</p>
            <p>*If you are a property manager and are interested in our services please call</p>
            <p>208-339-7065 or 208-221-3823 for pricing details.</p>
        </div>
    </div>
</div>

<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h5>© 2011-2015 Ipawd's Poop 'N Scoop LLC</h5>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/stickybar.js"></script>
<script>
    $("#sticker").sticky({topSpacing: 0});
</script>
</body>
</html>