<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ipawd's Poop 'N Scoop LLC</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container-fluid header">
    <div class="banner img-responsive"
         style="background-image: url('/images/parakeets.jpg');">
    </div>
</div>

<nav id="sticker" class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img class="logo" src="/images/Vector_Edit.png" alt=""/></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a class="about-nav" href="about.html">About</a></li>
                <li><a href="staff.html">Staff</a></li>
                <li class="dropdown">
                    <a href="services.html" class="dropdown-toggle" data-toggle="dropdown" role="button">Services<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="dogs.html">Dog Services</a></li>
                        <li><a href="cats.html">Cat Services</a></li>
                        <li><a href="other.html">Other Pets</a></li>
                        <li><a href="additional.html">Additional Services</a></li>
                    </ul>
                </li>
                <li><a href="calendar.html">Calendar</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://invoice.zoho.com/portal/ipawdspoopnscoopllc" target="_blank">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>OTHER PETS</h1>
            <p>As we said before we love and care about all pets big or small so we have created services to help you with your small caged pets.  We are most familiar with birds but call us and we will do our best to help you out with whatever you may need. </p>
            <table class="table table-hover table-bordered table-responsive">
                <thead>
                <tr>
                    <th>Occurrence</th>
                    <th>Cost</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><b>1 Cage</b></td>
                    <td>$8.00/month</td>
                </tr>
                <tr>
                    <td><b>2 Cages</b></td>
                    <td>$11.00/month</td>
                </tr>
                <tr>
                    <td><b>3 Cages</b></td>
                    <td>$14.00/month</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h5>© 2011-2015 Ipawd's Poop 'N Scoop LLC</h5>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/stickybar.js"></script>
<script>
    $("#sticker").sticky({topSpacing: 0});
</script>
</body>
</html>