<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ipawd's Poop 'N Scoop LLC</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img class="header" src="/images/YardCat.jpg" alt=""/>
        </div>
    </div>
</div>

<nav id="sticker" class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img class="logo" src="/images/Vector_Edit.png" alt=""/></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a class="about-nav" href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="calendar.html">Calendar</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="login.html">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>KITTY SERVICES</h1>
            <p>We love and care about all pets and so we also offer services for our feline friends!</p>
            <p>Litter box services can be purchased with a regular yard cleaning service for a discount or on its own for the full price.</p>
            <p>Litter box services include sifting and/or emptying.  When being emptied we will wipe down, sanitize and refill the litter boxes.  When sifting we will remove all waste and top it off.  The client will supply all kitty litter and sifters.  Additional litter boxes, sifters, and kitty litter can be purchased and delivered by us for an additional fee. </p>
            <table class="table table-hover table-bordered table-responsive">
                <thead>
                <tr>
                    <th>Occurrence</th>
                    <th>Cost</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><b>With a weekly yard cleaning</b></td>
                    <td>$7.00/month per litter box</td>
                </tr>
                <tr>
                    <td><b>Without a weekly yard cleaning</b></td>
                    <td>$14.00/month per litter box</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h5>© 2011-2014 Ipawd's Poop 'N Scoop LLC</h5>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/stickybar.js"></script>
<script>
    $("#sticker").sticky({topSpacing: 0});
</script>
</body>
</html>